<div class="todoListContainer">
<div class="addContainer">
<%# <h2>Sign up</h2> %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>



  <div class="">
    <%= f.label :email,  :class => 'userEdit'  %>
    <%= f.email_field :email, autofocus: true, :class => 'userInfo' %>
  </div>

  <div class="">
    <%= f.label :password,  :class => 'userEdit'  %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "off", :class => 'userInfo' %>
  </div>

  <div class="">
    <%= f.label :password_confirmation,  :class => 'userEdit'  %>
    <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'userInfo' %>
  </div>

  <div class="buttons">
  <button class="submit">
    <%= f.submit "Sign up", :class => 'Submit' %>
    </button>
  </div>
<% end %>
<br>
<%= render "devise/shared/links" %>

</div>
</div>