<div class="todoListContainer">
<h1 id="notice">Hello <%= @user.name%>,</h1>
<h3>Go to your: <%= link_to 'TodoList', user_todolists_path(@user), :class => 'underLine' %></h3>
<br>  
<br>  
   <%= link_to 'Edit Account Info', edit_user_path(@user) %> -
    <%= link_to "Del Your Account", user_path(@user), method: :delete, data: {confirm: "Are you sure?"} %>
 <p><%= link_to "Sign Out", destroy_user_session_path, method: :delete %> </p>
</div>

 



  

