<h1 id="notice"><%= @user.name%></h1>


<ul>
  <% @comments.each do |c|%>
   <p> Comment: <%= c.comment %> <%= link_to 'Edit', edit_user_comment_path(c)%> <%= link_to "Del", user_comment_path(c), method: :delete %> </p>
  <% end %>
</ul>

<%= link_to 'Home', users_path %> |
<%= link_to 'Add Comment', new_user_comment_path(@user) %>