<h1 id="notice"><%= @user.inspect%></h1>

<%= @user.name%>
<%= @user.username%>
<%= @user.password%>
   
   
   <%= link_to 'Edit', edit_user_path(@user) %> |
    <%= link_to "Del", user_path(@user), method: :delete %>

<%= link_to 'Home', users_path %>