<h1 id="notice"><%= @user.name%></h1>


<ul>
  <% @users.each do |c|%>
   <p> <%= c.name %> 
      <%= c.username %>
      <%= c.password %>
   
   
   <%= link_to 'Edit', edit_user_path(c)%> <%= link_to "Del", user_path(c), method: :delete %> </p>
  <% end %>
</ul>

<%= link_to 'Home', users_path %> |
<%= link_to 'Add User', new_user_path(@user) %>