<%# <h2>Log in</h2> %>
<div class="todoListContainer">
<div class="addContainer">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="">
  <%= f.label :email,  :class => 'userEdit' %><%= f.email_field  :email, autofocus: true, :value => "", :place_holder => "Email", :class => 'userInfo' %>
  </div>
  <div class="">
  <%= f.label :password,  :class => 'userEdit' %><%= f.password_field :password, autocomplete: "off", :value => "", :place_holder => "Password", :class => 'userInfo' %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="buttons">
   <div class="submit">

    <%= f.submit "LOGIN", :class => 'Submit' %>
    </div>
  </div>
<% end %>
<br>
<%= render "devise/shared/links" %>
</div>
</div>