<%= form_for([@user, @todolist]) do |f| %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, :place_holder => "Add a Title" %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description, :place_holder => "Add a Description" %>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <%= f.text_field :category, :place_holder => "Add a Category" %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status, :place_holder => "Add True or False" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>