<%= form_for([@user, @todolist]) do |f| %>
  <div class="addContainer">

    <div class="userInfo">
      <%= f.label :title %><br>
        <%= f.text_field :title, :place_holder => "Title" %>
    </div>
    <div class="userInfo">
      <%= f.label :category %><br>
        <%= f.text_field :category, :place_holder => "Category" %>
    </div>
    <div class="userInfo">
      <%= f.label :description %><br>
        <%= f.text_field :description, :place_holder => "Description" %>
    </div>
    <div class="buttons">
      <button  type="submit"><%= f.submit 'Update Item', :class => 'Submit' %></button>
    </div>
        <div class="buttons">
          <%= link_to '↼ Back to List', user_todolists_path %>
        </div>
    <% end %>
  </div>

