<%= form_for([@user, @todoList]) do |f| %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, :place_holder => "Add a New Name" %>
  </div>
  <div class="field">
    <%= f.label :username %><br>
    <%= f.text_field :username, :place_holder => "Add a New UserName" %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.text_field :password, :place_holder => "Add a New Password" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>