<%= form_for([@user, @todolist]) do |f| %>
  <div class="addContainer">


    <%= f.text_field :title, :value => "", :placeholder => "Title", :class => 'userInfo'  %>


      <%= f.text_field :category, :value => "", :placeholder => "Category", :class => 'userInfo'  %>


        <%= f.text_field :description, :value => "", :placeholder => "Description", :class => 'userInfo'  %>
        <%= f.hidden_field :status, :value => "To Do"  %>

          <div class="buttons">
            <button type="submit"><%= f.submit 'Update Item', :class => 'Submit' %></button>
          </div>
          <div class="buttons">
            <%= link_to '↼ Back to List', user_todolists_path %>
          </div>
  </div>
          <% end %>
