<h1>All TodoLists</h1>

 <% @todolists.inspect%>
<p><%= link_to "Add a NEW TodoList", new_user_todolist_path %> 
<%= link_to 'Cat', user_categories_path(@user) %></p>

<ul>
  <% @todolists.each do |u|%>
    <p><%=  u.title %>  </p>
    <p><%=  u.description %>  </p>
    <p><%=  u.category %>  </p>
    <p><%=  u.status %>  </p>
    <%= link_to 'Info', user_todolist_path(@user, u) %>
    <%= link_to 'Edit', edit_user_todolist_path(@user, u) %> 
    <%= link_to "Del", user_todolist_path(@user, u), method: :delete%>
  <% end %>
</ul>
  

