<div class="infoContainer">
    <div class="infoTitle"><b><%= @todolist.title%></b></div>
    <div class="infoStatus"><b>STATUS : <%= @todolist.status%></b></div>
    <div class="infoDescription">
        <p>
            <%= @todolist.description%>
        </p>
    </div>
    <div class="buttons">
        <div class="infoEditBtn">
            <%= link_to 'EDIT', edit_user_todolist_path %>
        </div>
        <button class="infoDelBtn"><%= link_to "DEL", user_todolist_path, method: :delete%></button>
    </div>
    <div class="buttons">
        <div class="backBtn">
            <%= link_to '↼ Back to List', user_todolists_path %>
        </div>
    </div>
</div>