<h1 id="notice"><%= @todolist.inspect%></h1>

<p><%= @todolist.title%></p>
<p><%= @todolist.description%></p>
<p><%= @todolist.category%></p>
<p><%= @todolist.status%></p>



    <%= link_to 'Edit', edit_user_todolist_path %> |
    <%= link_to "Del", user_todolist_path, method: :delete%> |


<%= link_to 'Home', users_path %>