<%# <h1 id="notice"><%= @category%></h1> %>
<%# <h1 id="notice"><%= @category.inspect%></h1> %>


<ul>
  <% @category.each do |u|%>
   
    <p><%= link_to u.title%>  </p>
    <p><%= link_to u.description%>  </p>
    <p><%= link_to u.category%>  </p>
    <p><%= link_to u.status%>  </p>
    <%= link_to 'Edit', edit_user_category_path(u) %>
     <%= link_to "Del", user_category_path(u), method: :delete %>
  <% end %>
</ul>

<%= link_to 'Home', users_path %>